.copyright {
  padding: 1em 2em 1em 2em;
  font-size: 12px;
  opacity: 0.75;
}
.copyright a {
  color: #fff;
  text-decoration: underline;
}
.button-foot {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 0.5em 0 0.5em 0;
}
.button-foot button {
  margin: 5px;
}
@media (prefers-color-scheme: light) {
  .copyright a {
    color: #000;
  }
}
